/* Hover Animation variables */
:root {
  --time-animation: 0.3s;
}

/* General */
.NavItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  height: 6.5rem;
  cursor: pointer;
}

.NavItemInfo,
.NavItem a {
  display: flex;
}

.NavItem a {
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all var(--time-animation);
}

.NavItem a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0.6rem;
  background-color: #1db954;
  box-shadow: 3px 0px 26px -1px rgba(29, 185, 84, 0.5);
  opacity: 0;
  transition: all var(--time-animation);
}

.NavItemInfo {
  width: 20rem;
  z-index: 1;
}

/* General NavItem Design */
.Icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-grey-5);
  transition: all var(--time-animation);
}

.NavItemInfo p {
  margin-left: 2.5rem;
  font-size: 2rem;
  color: var(--color-grey-5);
  transition: all var(--time-animation);
}

/* Active NavItem Design */
.active {
  background-color: var(--color-grey-2);
}

.NavItem .active::before {
  opacity: 1;
}

.active p {
  color: var(--color-white);
}

.active svg {
  fill: var(--color-white);
}

/* Hover NavItem Design */
.NavItem:hover a {
  background-color: var(--color-grey-2);
}

.NavItem a:hover::before {
  opacity: 1;
}

.NavItem:hover .NavItemInfo p {
  color: var(--color-white);
}

.NavItem:hover .NavItemInfo svg {
  fill: var(--color-white);
}
