/* Sets initial size of 90px and becomes flex container */
.Header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-basis: 9rem;
}

.contentWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4.1rem;
  width: 100%;
}

.contentWrapper > * {
  margin-right: 2rem;
}

.userimage {
  width: auto;
  height: 100%;
  border-radius: 50%;
  margin-right: 2rem;
}

.username {
  color: var(--color-white);
  margin-right: 2rem;
  font-size: 1.5rem;
}

.LogoutBtn {
  height: 100%;
  padding: 0 2.1rem;

  border: 2px solid var(--color-spotify-green);
  border-radius: 2rem;
  outline: none;
  background-color: transparent;

  font-size: 1.4rem;
  color: var(--color-spotify-green);
  font-weight: bold;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.LogoutBtn:hover {
  background-color: var(--color-spotify-green);
  color: var(--color-white);
}
