/* Sets initial size of 90px and becomes flex container */
.Header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 9rem;
  margin-right: 3rem;
}

.LogoutBtn {
  padding: 1.1rem 2.1rem;

  border: 2px solid var(--color-spotify-green);
  border-radius: 2rem;
  outline: none;
  background-color: transparent;

  font-size: 1.4rem;
  color: var(--color-spotify-green);
  font-weight: bold;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.LogoutBtn:hover {
  background-color: var(--color-spotify-green);
  color: var(--color-white);
}
