/* Sets initial size of 300px and becomes flex container */
.sideNav {
  display: flex;
  flex-direction: column;
}

.navLinks li {
  margin-bottom: 1.75rem;
}

.navLinks li:last-child {
  margin-bottom: 0rem;
}
