/* Background; Centers Explorify Container */
.container {
  height: 100vh;
  width: 100vw;

  padding: 0.75rem;
  background-color: var(--color-black);
}

/* Explorify Container; Flex Container */
.explorify {
  display: flex;
  height: 100%;
  width: 100%;

  --desktop-nav-size: 27rem;

  overflow: hidden;
  border-radius: 2.5rem 1rem 1rem 2.5rem;
  font-size: 1.5rem;
}

/* Container for Header and View - takes 100% of available space and is a flex container itself  */
.content {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - var(--desktop-nav-size));
  background-color: var(--color-grey-2);
}

.sideNav {
  flex-basis: var(--desktop-nav-size);
  flex-shrink: 0;
  background-color: var(--color-grey-1);
}

/* View Container - Stretches to 100% of available space */
.view {
  height: 100%;
  z-index: 2;

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.view::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-grey-3);
}

.view::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
  background-color: var(--color-grey-6);
}

.view::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-6);
}

@media (max-width: 900px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .explorify {
    flex-direction: column-reverse;
  }

  .sideNav {
    flex-basis: 0;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .navTitle {
    display: none;
  }

  .content {
    max-width: 100%;
    padding-bottom: 2rem;
  }
}
