/* Background; Centers Explorify Container */
.Container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.75rem;
  height: 100vh; /* Is this the best way to do this? VH can behave weird on mobile */

  background-color: var(--color-black);
}

/* Explorify Container; Flex Container */
.Explorify {
  display: flex;
  height: 100%;
  width: 100%;

  border-radius: 2.5rem;
  font-size: 1.5rem;

  background-color: var(--color-grey-1);
  overflow: hidden;
}

/* Container for Header and View - takes 100% of available space and is a flex container itself  */
.Content {
  flex-basis: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-grey-2);
}

/* View Container - Stretches to 100% of available space */
.View {
  height: 100%;
  width: 100%;
  min-height: 0;
  z-index: 2;
}
