/* Layout */
/* Style */
.Greeting {
  color: white;
}

.loader svg {
  fill: var(--color-spotify-green);
}

.gridParent {
  padding: 3rem;
}

.gridParent > * {
  margin-bottom: 5rem;
}

.songOverview {
  height: 55em;
  justify-content: space-between;
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.recentlyPlayed {
  margin-left: 5rem;
  min-width: 0;
}

.topTracks {
  min-width: 0;
}
