/* Layout */

.gridParent {
  display: grid;
  max-height: 100%;
  height: 100%;

  --d: calc(
    (80vmin - 20rem) / 2
  ); /* take the smallest screen size and remove the gaps and header height */
  --d_2: calc(
    var(--d) / 1.5
  ); /* take the smallest screen size and remove the gaps and header height */
  grid-template-columns: var(--d) var(--d) 1fr;
  grid-template-rows: 7rem var(--d) 0.5fr 1fr;

  gap: 1.75rem;

  margin: 0 1.75rem;
  padding-bottom: 1.75rem;
}

.gridParent > * {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-grey-1-70);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  min-width: 0;
}

.gridHeader {
  align-self: flex-start;
  justify-self: flex-start;
  grid-area: 1 / 1 / 2 / 4;
}

.topLeft {
  grid-area: 2 / 1 / 3 / 2;
}

.topRight {
  grid-area: 2 / 2 / 3 / 3;
}

.middleLeft {
  grid-area: 3 / 1 / 4 / 2;
}

.middleRight {
  grid-area: 3 / 2 / 4 / 3;
}

.bottomLeft {
  grid-area: 4 / 1 / 5 / 3;
}

.bottomRight {
  grid-area: 2 / 3 / 5 / 4;
}

.gridHeader {
  background-color: var(--color-grey-2);
  box-shadow: none;
}

/* Style */
.Greeting {
  color: white;
}

.loader svg {
  fill: var(--color-spotify-green);
}
