.SongItem {
  display: flex;
  align-items: center;

  margin-bottom: 1.5rem;

  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-grey-4);
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.albumCover {
  min-height: 64px;
}

.duration {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.2rem;
}

.metaInfo {
  margin-left: 1.2rem;
  text-overflow: ellipsis;
}

.songTitle {
  font-size: 1.7rem;
  color: var(--color-white);
}
